.subTitulo{
    text-align: center;
    font-size: 40px;
}

.container{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 60px;
}

.container img{
    width: 250px;
    float: left;
    margin-right: 20px;
}
.container p{
    text-indent: 1.5em;
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
}

.container p a{
    text-decoration: none;
}

@media (max-width: 768px) {
    .container img{
        width: 250px;
        float: none;
        margin-bottom: 10px;
         
    }
    .container p{
        font-size: 15px;
        text-indent: 0em;
    }
}


